@import url('https://fontlibrary.org//face/dogica')

@keyframes pacmanEat
    0%
        opacity: 1
    50%
        opacity: 1
    51%
        opacity: 0
    100%
        opacity: 0

*
    font-family: 'DogicaPixelRegular'
    font-weight: bolder
    font-size: 0.9rem
    line-height: 1.3rem

body
    color: white
    width: fit-content
    margin: 2% auto
    display: flex
    flex-direction: column
    align-items: center
    padding: 0.5rem
    background-color: black

    &>*
        width: 420px

    &, header, footer
        border: solid 4px blue
        min-height: 5vh
        border-collapse: separate
        border-radius: 10px 10px
        box-sizing: border-box

    header
        display: grid
        grid-template-areas: "high high high" "score . ."
        text-align: center

        *
            padding: 0
            margin: 0

        #highScore
            grid-area: high

            span
                display: block

        #currentScore
            grid-area: score

    #game
        height: 465px
        margin: 0.5rem 0
        position: relative

        *
            width: 15px
            height: 15px
            position: absolute
            padding: 0
            margin: 0

        .wall
            background: blue

        .pacDot
            display: flex
            justify-content: center
            align-items: center

            span
                background: yellow
                width: 50%
                height: 50%
                border-radius: 15px 15px

            &.energizer span
                background: orange !important

        .pacman
            background-color: yellow
            border-radius: 15px 15px
            z-index: 2

            &.EAST
                transform: rotateZ(0deg)

            &.SOUTH
                transform: rotateZ(90deg)

            &.WEST
                transform: rotateZ(180deg)

            &.NORTH
                transform: rotateZ(-90deg)

            span
                clip-path: polygon(110% 100%, 40% 50%, 110% 0%)
                background: black

        .ghost
            z-index: 1

            span
                background-color: black
                height: 20%
                width: 50%
                position: absolute
                bottom: 0
                left: 25%

        #ghost0
            background-color: red

        #ghost1
            background-color: orange

        #ghost2
            background-color: pink

        #ghost3
            background-color: lightblue

        input#Start
            background-color: black
            color: white
            top: 40%
            left: 40%
            height: 20%
            width: 20%
            position: absolute
            border: solid white 1px

            &:hover
                cursor: pointer

        #restart
            position: absolute
            height: 40%
            width: 60%
            top: 30%
            left: 20%
            background-color: black
            z-index: 15
            display: flex
            justify-content: space-around
            align-items: center
            flex-direction: column
            border: solid white 1px

            *
                position: relative
                width: 90%
                height: 20%
                text-align: center

            input:hover
                background-color: red
                color: white


    footer
        display: flex
        align-items: center
        justify-content: flex-start

        .live
            background-color: green
            height: 15px
            width: 15px
            border-radius: 15px
